form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin-top: 10px;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}

input:first-child {
  width: 50%;
}

input:nth-child(2) {
  width: 100px;
  background-color: darkorange;
}

input:nth-child(2):hover {
  width: 120px;
  transition: width 0.5s ease-in-out;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

li {
  list-style-type: none;
  width: 25%;
  height: 200px;
  margin: 0.2rem;
}

img {
  width: 100%;
  height: 100%;
}
